<a href="https://colab.research.google.com/github/ykim71/EDA/blob/main/CME_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exploratory Data Analysis

> A quick preparation for data overview

# Load dataset from Google Drive

> one file (e.g., csv, xlsx, pkl, etc)


> multiple datasets to merge


> load data if it's GSheet

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
%cd /content/drive/MyDrive/CME_EDA

/content/drive/.shortcut-targets-by-id/1KWfrg_vxS0M7ht1tqgicSMQox4FUPi2N/CME_EDA

### load dataset via pandas

In [ ]:
import pandas as pd

# df = pd.read_csv('data.csv') 
# df = pd.read_excel('data.xlsx')
# df = pd.read_pickle('data.pkl')

df = pd.read_excel('df_sample_Georgia.xlsx')

In [ ]:
df.head()

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
0,119778,Calhoun Times,http://www.northwestgeorgianews.com/calhoun_ti...,https://www.northwestgeorgianews.com/inflation...,Inflation is No. 1 concern for struggling smal...,Casey Harper | The Center Square,2022-10-12,(The Center Square) – Newly released polling d...
1,57024,WUPA TV 69 (CW),http://cwatlanta.cbslocal.com/,https://www.cbsnews.com/pittsburgh/news/over-1...,"Over $10,000 raised thanks to Devi's Tractor R...",Garrett Behanna,2022-10-09,'Devi's Tractor Ride' Raises Money For UPMC Ch...
2,79759,McDuffie Progress,http://www.mcduffieprogress.com/,https://www.mcduffieprogress.com/lifestyles/en...,Emily Ratajkowski blasts Blonde,Celebretainment,2022-10-02,"Emily Ratajkowski has blasted 'Blonde' for """"f..."
3,145610,Newton Citizen,http://www.newtoncitizen.com/,https://www.rockdalenewtoncitizen.com/sports/2...,2023 Georgia Bulldogs football schedule announ...,From Staff Reports,2022-09-20,Seven home games including four to start the s...
4,92455,Paulding Neighbor,https://www.mdjonline.com/neighbor_newspapers/...,https://www.mdjonline.com/neighbor_newspapers/...,Billie Eilish announces live stream concert to...,Celebretainment,2022-09-27,Billie Eilish will mark the end of her 'Happie...

In [ ]:
# or take 5 random sample of dataset
df.sample(5)

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
995,57754,WUPA TV 69 (CW),http://cwatlanta.cbslocal.com/,https://www.cbsnews.com/pittsburgh/video/jon-d...,Jon Delano Interview With Summer Lee,NaN,2022-10-06,Watch CBS News\nJon Delano Interview With Summ...
366,388,South Fulton Neighbor,https://www.mdjonline.com/neighbor_newspapers/...,http://www.legacy.com/obituaries/mdjonline/obi...,"Prange, Jennifer Hammond",Marietta Daily Journal,2022-10-08,JENNIFER PRANGE OBITUARY\nJennifer Hammond Pra...
869,40728,WUPA TV 69 (CW),http://cwatlanta.cbslocal.com/,https://www.cbsnews.com/boston/news/jc-jackson...,J.C. Jackson had extra bone in ankle removed v...,CBSBoston.com Staff,2022-09-15,Bill Belichick on Steelers' defense ahead of W...
963,24112,Americus Times Recorder,http://americustimesrecorder.com/,https://www.americustimesrecorder.com/2022/09/...,"County Vehicles declared Surplus, County Logo ...",Ken Gustafson,2022-09-27,"County Vehicles declared Surplus, County Logo ..."
613,9582,MundoNow,https://mundonow.com,https://mundonow.com/mhoni-vidente-reveladoras...,Mhoni Vidente comparte reveladoras prediccione...,Carlos Rodriguez,2022-09-30,Mhoni Vidente complace una vez más a sus segui...

### load multiple datasets and merge

In [ ]:
#import pandas as pd

import os
path = '/content/drive/MyDrive/Georgia/Web Scraping /Marquee data/'
files = os.listdir(path)

files_xls = [f for f in files if f[-4:] == 'xlsx'] # share the same last four digits 
files_xls

['batch_1_2023-01-30.xlsx',
 'batch_2_2023-01-30.xlsx',
 'batch_3_2023-01-30.xlsx',
 'batch_4_2023-01-30.xlsx',
 'addl_1_2023-01-30.xlsx',
 'addl_2_2023-01-30.xlsx']

In [ ]:
df_list = []

for f in files_xls:
    data = pd.read_excel(str(path)+f, dtype=object)
    df_list.append(data)

In [ ]:
df_frame = pd.concat(df_list, axis=0, ignore_index=True)

In [ ]:
df_frame.head()

,source,website,article_url,article_title,article_author,date_published,article_text
0,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/bu...,How Infographics Can Boost Your Business,NewsUSA,2022-09-15,"(NewsUSA) - A decade ago, Infographics were th..."
1,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/es...,¿Quieres Internet gratis? Ahora es más accesib...,Brandpoint (BPT),2022-09-15,"(BPT) - En los últimos años, Estados Unidos ha..."
2,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/he...,New Research Reveals The Germy Truth About Bac...,Brandpoint (BPT),2022-09-15,(BPT) - To help parents protect their homes fr...
3,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/he...,Save a life by signing up: The critical role o...,Brandpoint (BPT),2022-09-15,(BPT) - Cancer is poised to become the number ...
4,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/mo...,3 reasons why young adults should invest in a ...,Brandpoint (BPT),2022-09-15,(BPT) - Life insurance is for people of all ag...

### load gsheet file

In [ ]:
# if you have a shared gspread sheet
# https://docs.google.com/spreadsheets/d/1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy/edit#gid=1208960361

import pandas as pd
import gspread as gs

gsheetid = '1Cp5SB_tpnDemvSkQNMJSpokiYD7yLeMy'
sheet_name = 'CrowdTangle_GA'

df_fb = pd.read_csv(f"https://docs.google.com/spreadsheets/d/{gsheetid}/export?format=csv")

# Check descriptive features

Useful pandas functions


> Missing Data


> Checking Dataframe

### data structures

In [ ]:
# column names
df.columns

Index(['Unnamed: 0', 'source', 'website', 'article_url', 'article_title',
       'article_author', 'date_published', 'article_text'],
      dtype='object')

In [ ]:
# data types
df.dtypes

Unnamed: 0         int64
source            object
website           object
article_url       object
article_title     object
article_author    object
date_published    object
article_text      object
dtype: object

In [ ]:
# data frame dimensions
df.shape

(879, 8)

### missing data

In [ ]:
# see if there's any missing values
df.isna().sum()

Unnamed: 0          0
source              0
website             0
article_url         0
article_title       0
article_author    478
date_published      0
article_text      111
dtype: int64

In [ ]:
# see if there's any missing values
df.isnull().sum()

Unnamed: 0          0
source              0
website             0
article_url         0
article_title       0
article_author    478
date_published      0
article_text      111
dtype: int64

In [ ]:
df[df['article_text'].isnull()]

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
6,31585,WGCL TV 46 (CBS),http://www.cbs46.com/,https://www.cbs46.com/video/2022/09/22/boating...,Boating rentals on decline at Lake Mead,NaN,2022-09-22,NaN
10,157450,WALB TV 10 (NBC),http://www.walb.com/,https://www.walb.com/video/2022/09/27/tuesday-...,Tuesday noon weather,NaN,2022-09-27,NaN
11,175011,WRDW News CBS 12 NBC 26,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/27/healthwi...,Healthwise with Karin McCay,NaN,2022-09-27,NaN
12,29523,WGCL TV 46 (CBS),http://www.cbs46.com/,https://www.cbs46.com/video/2022/09/15/pittsfi...,Pittsfield’s Industrial Plaza to fill last par...,NaN,2022-09-15,NaN
13,163385,WALB TV 10 (NBC),http://www.walb.com/,https://www.walb.com/video/2022/10/14/intervie...,INTERVIEW: Actor Shemar Moore discusses show S...,NaN,2022-10-14,NaN
...,...,...,...,...,...,...,...,...
976,193568,WTOC TV 11 (CBS),http://www.wtoc.com/,https://www.wtoc.com/video/2022/09/26/sunday-e...,Sunday evening FOX 12 weather forecast (9/25),NaN,2022-09-26,NaN
981,156527,WALB TV 10 (NBC),http://www.walb.com/,https://www.walb.com/video/2022/09/24/local-ch...,Local church gives out Chromebooks and desktops,NaN,2022-09-24,NaN
983,197857,WTOC TV 11 (CBS),http://www.wtoc.com/,https://www.wtoc.com/video/2022/10/07/wwny-fil...,"WWNY Fill up your cup, help out a charity",NaN,2022-10-07,NaN
993,163487,WALB TV 10 (NBC),http://www.walb.com/,https://www.walb.com/video/2022/10/14/north-la...,North Las Vegas police update after officer sh...,NaN,2022-10-14,NaN
994,163786,WALB TV 10 (NBC),http://www.walb.com/,https://www.walb.com/video/2022/10/15/samson-g...,Samson @ Geneva Co. | FNF 2022 Week 8,NaN,2022-10-15,NaN

In [ ]:
# if you decide the missing values that do not have any data in 'article_text'
df = df.dropna(subset=['article_text'])

# df = df.dropna() # this deletes any rows that have missing values.

In [ ]:
df.isnull().sum()

Unnamed: 0          0
source              0
website             0
article_url         0
article_title       0
article_author    367
date_published      0
article_text        0
dtype: int64

### drop duplicated values

In [ ]:
df['article_text'].duplicated().sum()

10

In [ ]:
print(len(df))

889

In [ ]:
# delete duplicates and save as the same dataframe
df = df.drop_duplicates(subset=['article_text']) #

In [ ]:
print(len(df))

879

In [ ]:
# fill missing values with 0
df_na0 = df.fillna(0)

In [ ]:
df_na0

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
0,119778,Calhoun Times,http://www.northwestgeorgianews.com/calhoun_ti...,https://www.northwestgeorgianews.com/inflation...,Inflation is No. 1 concern for struggling smal...,Casey Harper | The Center Square,2022-10-12,(The Center Square) – Newly released polling d...
1,57024,WUPA TV 69 (CW),http://cwatlanta.cbslocal.com/,https://www.cbsnews.com/pittsburgh/news/over-1...,"Over $10,000 raised thanks to Devi's Tractor R...",Garrett Behanna,2022-10-09,'Devi's Tractor Ride' Raises Money For UPMC Ch...
2,79759,McDuffie Progress,http://www.mcduffieprogress.com/,https://www.mcduffieprogress.com/lifestyles/en...,Emily Ratajkowski blasts Blonde,Celebretainment,2022-10-02,"Emily Ratajkowski has blasted 'Blonde' for """"f..."
3,145610,Newton Citizen,http://www.newtoncitizen.com/,https://www.rockdalenewtoncitizen.com/sports/2...,2023 Georgia Bulldogs football schedule announ...,From Staff Reports,2022-09-20,Seven home games including four to start the s...
4,92455,Paulding Neighbor,https://www.mdjonline.com/neighbor_newspapers/...,https://www.mdjonline.com/neighbor_newspapers/...,Billie Eilish announces live stream concert to...,Celebretainment,2022-09-27,Billie Eilish will mark the end of her 'Happie...
...,...,...,...,...,...,...,...,...
995,57754,WUPA TV 69 (CW),http://cwatlanta.cbslocal.com/,https://www.cbsnews.com/pittsburgh/video/jon-d...,Jon Delano Interview With Summer Lee,0,2022-10-06,Watch CBS News\nJon Delano Interview With Summ...
996,102124,Marietta Daily Journal,http://www.mdjonline.com/,https://www.mdjonline.com/neighbor_newspapers/...,Opioids,Unsplash photo,2022-10-12,Skull and crossbones indicating risk of excess...
997,171081,WRDW News CBS 12 NBC 26,http://www.wrdw.com/,https://www.wrdw.com/video/2022/09/15/enthusia...,Enthusiasts Try to Save Lincoln County 4-H,0,2022-09-15,Enthusiasts Try to Save Lincoln County 4-H
998,121789,Calhoun Times,http://www.northwestgeorgianews.com/calhoun_ti...,https://www.northwestgeorgianews.com/lifestyle...,‘LOTR: The Rings of Power’ Star Maxim Baldry o...,"Emily Aslanian, TV Insider",2022-09-29,[Warning: The following contains MAJOR spoiler...
999,190977,WTOC TV 11 (CBS),http://www.wtoc.com/,https://www.wtoc.com/video/2022/09/19/big-than...,‘A big thank you’: Teen’s family grateful for ...,0,2022-09-19,In the desperate search for 15-year-old Mikell...

### sort

In [ ]:
df = df.sort_values('source', ascending=True)
df

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
648,23779,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/online_features/k...,Expert Tips to Organize Your Home for Fall,NaN,2022-09-24,(StatePoint) From the walk-in closet to the ki...
100,23785,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/online_features/m...,America Manages Risks Differently After Pandemic,Brandpoint (BPT),2022-09-27,"(BPT) - Over the last two years, Americans’ re..."
57,23328,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/news/dougherty-co...,Dougherty County Commissioner Clinton Johnson ...,Alan Mauldin alan.mauldin@albanyherald.com,2022-10-10,ALBANY — Premium pay for first responders who ...
855,23744,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/online_features/h...,"Survivor of meningococcal meningitis, a rare b...",Brandpoint (BPT),2022-09-20,"Sorry, but your browser does not support the v..."
474,22875,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/features/bible-ve...,Bible Verse,Carlton Fletcher,2022-09-28,"Jesus answered, Are there not twelve hours in ..."
...,...,...,...,...,...,...,...,...
768,166866,Waycross Journal Herald,http://www.wjhnews.com/,https://www.wjhnews.com/obituaries/larry-mcmil...,Larry McMillan Howerton Hendrix,NaN,2022-10-06,"FOLKSTON — Larry McMillan, 77, of Folkston, pa..."
316,166880,Waycross Journal Herald,http://www.wjhnews.com/,https://www.wjhnews.com/obituaries/william-hen...,William Henry Turner,NaN,2022-10-13,"WAYCROSS — Mr. William Henry Turner, 79, died ..."
635,148313,Waynesboro True Citizen,http://www.thetruecitizen.com/,https://www.thetruecitizen.com/articles/vidett...,Vidette establishes utilities ordinance,SHELLIE SMITLEY,2022-10-05,Vidette establishes utilities ordinance\nBy Tr...
941,148175,Waynesboro True Citizen,http://www.thetruecitizen.com/,https://www.thetruecitizen.com/articles/420-la...,420 Land & Lot Clearing,True Citizen Staff,2022-10-12,420 Land & Lot Clearing\nBy True Citizen Staff...
927,17956,White County News,http://www.whitecountynews.net/,https://whitecountynews.newsbank.com/doc/news/...,PUBLIC MEETINGS,NaN,2022-09-15,"September 15, 2022\nPublication: White County ..."

### count

In [ ]:
# count how many sources are in the data

df['source'].value_counts().reset_index()

                                                 index  source
0                                      WUPA TV 69 (CW)     107
1                         Polk County Standard Journal      52
2                                           WPCH TV 17      50
3                                     WGCL TV 46 (CBS)      44
4                               Marietta Daily Journal      42
..                                                 ...     ...
117                                  Savannah Magazine       1
118  Reporter Newspapers & Atlanta Intown (include ...       1
119                                 Tribune & Georgian       1
120                                   Georgia Recorder       1
121                         Atlanta Business Chronicle       1

[122 rows x 2 columns]

In [ ]:
# count # of articles by sources

df_count_source = df.groupby('source')['article_text'].count().reset_index()
df_count_source

                      source  article_text
0              Albany Herald             5
1                 Alma Times             4
2    Alpharetta Revue & News             1
3    Americus Times Recorder             1
4                Appen Media             2
..                       ...           ...
117              WVCC AM 720             2
118           Walton Tribune             2
119  Waycross Journal Herald             3
120  Waynesboro True Citizen             2
121        White County News             1

[122 rows x 2 columns]

In [ ]:
# add multiple groups to count

df_count_source_date = df.groupby(['source', 'date_published'])['article_text'].count().reset_index()
df_count_source_date

                      source date_published  article_text
0              Albany Herald     2022-09-20             1
1              Albany Herald     2022-09-24             1
2              Albany Herald     2022-09-27             1
3              Albany Herald     2022-09-28             1
4              Albany Herald     2022-10-10             1
..                       ...            ...           ...
559  Waycross Journal Herald     2022-10-06             1
560  Waycross Journal Herald     2022-10-13             1
561  Waynesboro True Citizen     2022-10-05             1
562  Waynesboro True Citizen     2022-10-12             1
563        White County News     2022-09-15             1

[564 rows x 3 columns]

In [ ]:
# count by publish dates

df.groupby('date_published')['article_text'].count().reset_index()

   date_published  article_text
0      2022-09-15            39
1      2022-09-16            44
2      2022-09-17            13
3      2022-09-18            14
4      2022-09-19            31
5      2022-09-20            34
6      2022-09-21            33
7      2022-09-22            30
8      2022-09-23            27
9      2022-09-24            17
10     2022-09-25            13
11     2022-09-26            35
12     2022-09-27            32
13     2022-09-28            38
14     2022-09-29            27
15     2022-09-30            35
16     2022-10-01            13
17     2022-10-02            11
18     2022-10-03            37
19     2022-10-04            34
20     2022-10-05            40
21     2022-10-06            39
22     2022-10-07            28
23     2022-10-08            18
24     2022-10-09            10
25     2022-10-10            20
26     2022-10-11            51
27     2022-10-12            40
28     2022-10-13            34
29     2022-10-14            34
30     2022-10-15             8

### random sample by groups

In [ ]:
df_source_rndm1 = df.groupby('source').apply(lambda x: x.sample(1, replace=False)).reset_index(drop=True)
df_source_rndm1

,Unnamed: 0,source,website,article_url,article_title,article_author,date_published,article_text
0,23328,Albany Herald,http://www.albanyherald.com/,https://www.albanyherald.com/news/dougherty-co...,Dougherty County Commissioner Clinton Johnson ...,Alan Mauldin alan.mauldin@albanyherald.com,2022-10-10,ALBANY — Premium pay for first responders who ...
1,1185,Alma Times,http://www.thealmatimes.com/,http://www.thealmatimes.com/online_features/he...,5 Questions to Ask Before Picking a Lawyer for...,NewsUSA,2022-09-26,(NewsUSA) - Seen one of those Camp Lejeune law...
2,24283,Alpharetta Revue & News,https://www.appenmedia.com/alpharetta_roswell/,https://www.appenmedia.com/news/man-accused-of...,Man accused of killing Roswell boy will defend...,CHAMIAN CRUZ,2022-09-20,ATLANTA — James Michael Coates is set to take ...
3,24112,Americus Times Recorder,http://americustimesrecorder.com/,https://www.americustimesrecorder.com/2022/09/...,"County Vehicles declared Surplus, County Logo ...",Ken Gustafson,2022-09-27,"County Vehicles declared Surplus, County Logo ..."
4,24446,Appen Media,https://www.appenmedia.com,https://www.appenmedia.com/online_features/hea...,How a digital tool may help college students l...,Brandpoint (BPT),2022-10-13,(BPT) - This article is sponsored by Otsuka Am...
...,...,...,...,...,...,...,...,...
117,2303,WVCC AM 720,https://720thevoice.iheart.com/,https://720thevoice.iheart.com/content/2022-10...,Anti-Oil Protesters Splash Soup On Van Gogh Pa...,Bill Galluccio,2022-10-14,A pair of anti-oil protesters were arrested on...
118,163923,Walton Tribune,http://waltontribune.com/,https://www.waltontribune.com/poll_b5c6b2d4-44...,Who are you voting for in Georgia’s Attorney G...,NaN,2022-10-05,Facebook\nTwitter\nWhatsApp\nSMS\nEmail\nPrint...
119,166866,Waycross Journal Herald,http://www.wjhnews.com/,https://www.wjhnews.com/obituaries/larry-mcmil...,Larry McMillan Howerton Hendrix,NaN,2022-10-06,"FOLKSTON — Larry McMillan, 77, of Folkston, pa..."
120,148313,Waynesboro True Citizen,http://www.thetruecitizen.com/,https://www.thetruecitizen.com/articles/vidett...,Vidette establishes utilities ordinance,SHELLIE SMITLEY,2022-10-05,Vidette establishes utilities ordinance\nBy Tr...
121,17956,White County News,http://www.whitecountynews.net/,https://whitecountynews.newsbank.com/doc/news/...,PUBLIC MEETINGS,NaN,2022-09-15,"September 15, 2022\nPublication: White County ..."

# Save data

In [ ]:
df.to_excel('df_sample_Georgia_prep.xlsx')

#df.to_csv('df_sample_Georgia_prep.csv')
#df.to_pickle('df_sample_Georgia_prep.pkl)